@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html{height: 100%;}
body {
  margin-top: 45px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 1rem;
}

footer  {
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #1f1f1f;
  line-height: 1.8;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;

}
footer span{
  font-size: 10px;
  text-align: center;
  color: brown;
}
